:root {
    --default-slot-color: rgb(0, 35, 63);
    --highlight-color: rgb(218, 165, 7);
    --site-background-color: rgb(54, 73, 96);
    --board-border-color: rgba(142, 199, 210, 0.608);
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
}

#boardContainers {
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--site-background-color);
    gap: 7.5vw;
}

.playerBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 45%;
    height: 90%;
}

.gridSlot{
    width: 97.5%;
    height: 97.5%;
    background-color: rgb(0, 35, 63);
    caret-color: transparent;
}

.arrow {
    font-size: 5rem;
    position: absolute;
    top: 57vh;
    margin-left: 0.5vw;
}

#verticalArrow {
    position: absolute;
    top: 25vh;
}

.gridSlot:active {
    background-color: rgb(197, 204, 216);
}

.error {
    background-color: rgba(255, 82, 82, 0.573) !important;
}

.highlight {
    background-color: var(--highlight-color);
}

.occupied {
    background-color: rgb(101, 114, 133);
}

.attackHover {
    background-color: rgba(255, 0, 0, 0.33) !important;
}

.attacked {
    background-color: rgb(0, 0, 0) !important;
}

.hit {
    background-color: rgb(143, 0, 0) !important;
}

.hide {
    background-color: var(--default-slot-color);
}

#footer {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: rgb(238, 247, 255);
    font-size: 2rem;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 1;
}

#welcomeDialog {
    width: 50vw;
    height: 50vh;
    background-color: var(--site-background-color);
    display: flex;
    justify-content: enter;
    align-items: center;
    gap: 5vw
}

.gameModeButton {
    width: 45%;
    height: 30vh;
    background-color: rgb(142, 199, 210);
    border: 2px solid rgb(7, 71, 90);
    font-size: 2rem;
}

.gameModeButton:hover {
    background-color: rgb(172, 237, 252);
    border: 4px solid rgb(7, 71, 90);
    box-shadow: 2px 2px;
}

.gameModeButton:active {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px;
}